<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render partial: "filter/category", locals: { root_taxons: @root_taxons } %>
  <%= render partial: "filter/price" %>
  <%= render partial: "filter/color" %>
  <%= render partial: "filter/size"  %>
</div>
