<% provide(:title, page_title(@taxon, @value)) %>
<%= render 'shared/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-9 col-sm-8 col-xs-12">
      <%= render 'filter/area' %>
        <div class="row">
          <%= render partial: 'categorized_product', collection: @category, as: 'product' %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/partners' %>
<%= render 'shared/product_quick_view_modal' %>
