<% provide(:title, @product.name) %>
<%= render 'shared/light_section' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'single_product' %>
    <%= render 'related_products' %>
  </div>
</section>
<%= render 'shared/product_quick_view_modal' %>
