<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_categories_section' %>
    <%= render 'latest_products_section' %>
    <%= render 'blogs_section' %>
  </div>
</section>
<%= render 'shared/partners' %>
<%= render 'shared/product_quick_view_modal' %>
