<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% root_taxons.each do |root_taxon| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#root_taxon<%= root_taxon.id %>"><%= root_taxon.name %><i class="fa fa-plus"></i></a>
            <ul id="root_taxon<%= root_taxon.id %>" class="collapse collapseItem">
              <% root_taxon.leaves.each do |leave_taxon| %>
                <li>
                  <%= link_to potepan_category_path(leave_taxon.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i><%= leave_taxon.name %><span> ( <%= leave_taxon.products.count %> ) </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
