<% option_type_nav.option_values.each do |option_value| %>
  <li>
    <%= link_to potepan_category_path(params[:id], option_type: option_type_nav.presentation, option_value: option_value.name) do %>
      <%= option_value.name %><span> ( <%= the_number_of_products_by(option_value) %> ) </span>
    <% end %>
  </li>
<% end %>
