<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <%= render partial: 'filter/option_type_nav', collection: @option_type_sizes, as: 'option_type_nav' %>
      </ul>
    </div>
  </div>
</div>
